// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';


.profilePic {
    width: 150;
    height: 150;
    border-radius: 100;
    margin: 20;
    border-color: #4db8ff;
    border-width: 1;
}

.followersTxt {
    text-align: center;
    font-size: 14;
    height: 20;
}

.followersTxtValue {
    text-align: center;
    margin-top: 10;
    height: 25;
    font-size: 22;
    font-weight: bold;
    color: #000;

}

.followersContainer {
    width: 90%
}

.font-awesome {
    font-family: "FontAwesome";
}
